= form_for group do |f|
  .chat-group-form__field.clearfix
    .chat-group-form__field--left
      = f.label "グループ名", class: "chat-group-form__label"
    .chat-group-form__field--right
      = f.text_field :name, placeholder: "グループ名を入力してください", class: "chat-group-form__input", id: "chat_group_name"
  .chat-group-form__field.clearfix
    .chat-group-form__field--left
      = f.label "チャットメンバーを追加", class:"chat-group-form__label"
    .chat-group-form__field--right
      = text_field_tag 'user-search-field', nil, class: 'chat-group-form__input', placeholder:  "追加したいユーザー名を入力してください"
    #user-search-result.chat-group-form__field--right
      %ul.chat-group-users
  .chat-group-form__field.clearfix
    .chat-group-form__field--left
      = f.label "チャットメンバー", class: "chat-group-form__label"
    .chat-group-form__field--right
      .current-users
        .current-user
          = f.hidden_field :user_ids, :multiple => true,  :value => current_user.id
          %p.chat-group-user__name
            = current_user.name
        - @users.each do |user|
          .current-user
            = f.hidden_field :user_ids, :multiple => true,  :value => user.id
            .p.current_user
              = user.name
              = button_tag('削除', type: 'button', class: 'chat-group-user__btn chat-group-user__btn--remove', value: user.id)
  .chat-group-form__field.clearfix
    .chat-group-form__field--left
    .chat-group-form__field--right
      = f.submit "save", class: "chat-group-form__action-btn"
